{% extends 'rappel_date/base.html' %}

{% block "main_content" %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Details des envois pour {{ item.prenom }}, {{ item.nom }}</h1>
    </section>



    <div class=" py-5 ">
        <div class="container">
            <div class="row">
                <p>
                    Retourner à <a href="{% url 'anniversaire:index' %}">l'acceuil </a>
                </p>
                <div class="col-md-12">
                    <table class="table">
                        {% include "rappel_date/parts/table_details_head.html" %}
                        <tbody>
                            {% for envoi in item.notifications.all %}
                            {% include "rappel_date/parts/table_details_line.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock "main_content" %}