<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>email</td>
                <td>date</td>
            </tr>
        </thead>
        <tbody>
            {% for anniversaire in anniversaires %}
            <tr>
                <td>{{anniversaire.email}}</td>
                <td>{{anniversaire.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {{ anniversaires }}
</body>

</html>