{% extends 'rappel_date/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block "main_content" %}




<main role="main">


    <div class="header-content">

        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />

            <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}

                <option value="{{ language.code }}" {% if language.code==LANGUAGE_CODE %} selected="selected" {% endif
                    %} data-content='<img src="/static/images/flags/{{ language.code }}.gif"></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  {{ language.name_local }}
                  <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                </span>'>
                    {{ language.code }}
                </option>

                {% endfor %}
            </select>
        </form>

    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                Anniversaires pour {{ request.user.username | capfirst}}
                {% blocktrans %}
                Anniversaires pour {{ request.user.username }}
                {% endblocktrans %}
            </h1>
            <h2>{{ message }}</h2>
    </section>

    <div class=" py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        {% include "rappel_date/parts/table_head.html" %}
                        <tbody>
                            {% for anniversaire in anniversaires %}
                            {% include "rappel_date/parts/table_line.html" %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" name="create" value="Nouvel anniversaire" />

                    </form>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock "main_content" %}